################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenSkyUnity/.vs/
/OpenSkyUnity/Library
/OpenSkyUnity/Logs
/OpenSkyUnity/obj/
/OpenSkyUnity/Temp
*.sln
*.csproj
/OpenSkyUnity/Packages
