################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenSkyUnity/.vs/OpenSkyUnity/v15/Server/sqlite3
