################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenSkyUnity/OpenSky/Library
/OpenSkyUnity/OpenSky/Logs
/OpenSkyUnity/OpenSky/Temp
/OpenSkyUnity/OpenSky/Packages
